@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 18, 18, 18;
  --background-rgb: 255, 255, 255;
  --border-rgb: 229, 231, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .emoji-font {
    font-family: system-ui, -apple-system, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, Apple Color Emoji, sans-serif;
    line-height: 1;
  }
}
